@model List<clientApp.Models.ClientViewModel>

@{
    ViewData["Title"] = "Client List";
}


<h2>Client List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Nationality</th>
            <th>DateOfBirth</th>
            <th>EducationBackground</th>
            <th>PreferredContact</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Gender</td>
                <td>@client.Phone</td>
                <td>@client.Email</td>
                <td>@client.Address</td>
                <td>@client.Nationality</td>
                <td>@client.DateOfBirth</td>
                <td>@client.EducationBackground</td>
                <td>@client.PreferredContact</td>
            </tr>
        }
    </tbody>
</table>

